<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <title><%= title %></title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="<%= description %>">
  <meta name="keywords" content="<%= keywords %>">
  <!-- ogp -->
  <meta property="og:url" content="<%= og_url %>">
  <meta property="og:type" content="<%= og_type %>">
  <meta property="og:title" content="<%= og_title %>">
  <meta property="og:description" content="<%= og_description %>">
  <meta property="og:site_name" content="<%= og_site_name %>">
  <meta property="og:image" content="<%= og_image %>">
  <!-- /ogp -->
  <link rel="stylesheet" href="<%= path %>/css/style_pc.css">
</head>
<body>
  <div class="LyHeader">
    <div class="MdGHT01Wrap">
      <div class="mdGHT01Inner">Header</div>
    </div>
  </div>
